<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AME_addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <AME_addin.Properties.Settings>
      <setting name="InteruptMarkingBelowPercentValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InteruptMarkingBelowPercentEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DaysFromHandedOutToExpectedIn" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="SkillCompletionNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>undecided</string>
            <string>not at all</string>
            <string>partial</string>
            <string>complete</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="deleteMarkedEmails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="shuffleQuestionsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ItemSendEventEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="includeSolutions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="markLimitValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AssignEmailFooter" serializeAs="String">
        <value>&lt;p&gt;To fill out this PDF download Adobe Acrobat Reader for &lt;a href="https://play.google.com/store/apps/details?id=com.adobe.reader&amp;hl=en_GB"&gt;Android&lt;/a&gt; or &lt;a href="https://itunes.apple.com/gb/app/adobe-acrobat-reader/id469337564?mt=8"&gt;Iphone&lt;/a&gt;&lt;/p&gt;</value>
      </setting>
    </AME_addin.Properties.Settings>
  </userSettings>
</configuration>